@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Russo+One&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #0fc0fc;
  --secondary-color: #d5ff47;
  --gray-color: #f4f4f4;
  --light-color: #e7f8fe;
  --dark-color: #333333;
  --font-family-roboto: "Roboto", sans-serif;
  --font-size: 16px;
  --line-height: 1.6;
  --font-weight: 400;
  --default-transition: all 300ms ease-in-out;
  --light-shadow1: rgba(0, 0, 0, 0.02) 0px 4px 12px;
}

::-webkit-scrollbar {
  display: none;
}

body::-webkit-scrollbar {
  display: none !important;
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: inherit;
}

body {
  height: 100vh;
  background: #fff;
  font-family: var(--font-family-roboto);
  font-size: var(--font-size);
  font-weight: var(--font-weight);
}

@layer utilities {
  .bg-primary {
    background-color: var(--primary-color);
  }
  .text-primary {
    color: var(--primary-color);
  }
  .border-primary {
    border-color: var(--primary-color);
  }
  .bg-secondary {
    background-color: var(--secondary-color);
  }
  .text-secondary {
    color: var(--secondary-color);
  }
  .border-secondary {
    border-color: var(--secondary-color);
  }
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}

/* Custom Switch Classes */
.custom-switch {
  width: 40px;
  height: 20px;
  border-radius: 10px;
  background-color: #c5c0bf;
  position: relative;
  cursor: pointer;
  transition: background-color 0.3s;
}

.custom-switch.active {
  background-color: #29a3ff;
}

.custom-switch .switch-toggle {
  position: absolute;
  top: 50%;
  left: 2px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #ffffff;
  transform: translateY(-50%);
  transition: left 0.3s;
}

.custom-switch.active .switch-toggle {
  left: 22px;
}
